<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title> LittleDva Article</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='/bin/style.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='awesome-weather-css' href='/bin/awesome-weather.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='bootstrap-css-css' href='/bin/bootstrap.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='base-css-css' href='/bin/article_base.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='panels-css-css' href='/bin/article_panels.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='style-css-css' href='/bin/article_style.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='page-css-css' href='/bin/article_page.css' type='text/css' media='all'/>
    <script type='text/javascript' src='/bin/jquery_1.12.4.js'></script>
    <script type='text/javascript' src='/bin/jquery_migrate_1.4.1.js'></script>
    <script type='text/javascript' src='/bin/picturefill_3.0.2.js'></script>
    <link rel="stylesheet" href="/bin/font-awesome.min.css" type="text/css"/>

</head>
<body class="archive tag tag-commencement tag-793">
<div id="su-wrap"> <!-- used to force footer to bottom of short pages -->
    <div id="su-content"> <!-- used to force footer to bottom of short pages -->
        <!--=== Header ===-->
        <div id="header" class="clearfix" role="banner" data-ga-category="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- Logo -->
                        <div id="logo" class="clearfix">
                            <a href="/home" data-ga-action="logo">
                            <img class="img-responsive" src="../images/littledva.png"/>
                            </a>
                        </div>
                        <!-- /logo -->
                        <div id="signature">
                            <div id="site-name">
                                <a href="/articles" data-ga-action="site-name"><span id="site-name-1">Articles</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu -->
        <div id="mainmenu" class="clearfix hidden-print nocontent" role="navigation" data-ga-category="header"
             data-ga-action="nav">
            <div class="container">
                <div class="navbar navbar-default">

                    <!-- main navigation -->
                    <button type="button" class="navbar-toggle btn-navbar" data-toggle="collapse"
                            data-target=".navbar-collapse">Menu
                    </button>
                    <!-- /nav-collapse -->

                    <div id="nav-search" role="search">
                        <form action="/search" method="get" id="search-form" accept-charset="UTF-8">
                            <input type="text" id="search-field" name="q" title="Search string" class="input-medium"
                                   placeholder="Search articles&hellip;" value="" size="15" maxlength="128"/>
                            <button id="search-btn" type="submit" name="submit" aria-label="Search" formmethod="get"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <!--div class="navbar-collapse collapse">
                        <div role="navigation">
                            <div id="primary-nav" class="menu-top-nav-container">
                                <ul id="menu-top-nav" class="nav navbar-nav" aria-label="primary navigation">
                                    <li id="menu-item-32"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-32">
                                        <a data-ga-label="Home" href="/home">Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </div-->
                    <!-- /nav-collapse -->
                </div>
                <!-- /navbar -->

            </div>
            <!-- /container -->
        </div>
        <!-- /mainmenu -->

        <!-- main content -->

        <div id="content" class="container non-story" role="main" tabindex="0">
            <!-- Main column -->

            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <h1>全部文章</h1>
                    <div class="col-sm-8" id="post-list">
                    {% for article in articles %}
                        <article class="card short list-item">
                            <div class="card-photo ">
                                <a href="{{ article.url }}" tabindex="-1"
                                   aria-hidden="true" role="presentation"><img
                                        src="{{ article.img }}"
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"/></a>
                            </div>
                            <div class="card-content">
                                <div class="meta">
                                    <time>{{ article.time }}</time>
                                </div>
                                <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                                <p class="teaser">{{ article.context }}</p>
                            </div>
                        </article>
                    {% endfor %}
                        <div class="row" id="page-nav">
                            <div class="col-xs-6">
                                <div class="btn btn-su-alert"><a href="/articles/?page={{ lastpage }}">« Older stories</a></div>
                            </div>
                            <div class="col-xs-6">
                                {% if hasnextpage %}
                                <div class="btn btn-light"><a href="/articles/?page={{ nextpage }}">Newer stories »</a></div>
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <aside class="col-sm-4 col-md-3 col-md-offset-1 find-a-story find-stories sidebar">
                        <section id="section-list">
                            <h2>Category</h2>
                            <ul>
                                {% for section in sections %}
                                {% if section.highlight %}
                                    <li id="spotlight">
                                {% else %}
                                    <li>
                                {% endif %}
                                <a href="{{ section.url }}">{{ section.name }}({{ section.count }})</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </section>

                        <h2>Browse by year</h2>
                        <div class="well well-calendar-list pr-archive">
                            <ul>
                                <li><a href="">2019</a></li>
                                <li><a href="">2018</a></li>
                                <li><a href="">2017</a></li>
                                <li><a href="">2016</a></li>
                                <li><a href="">2015</a></li>
                            </ul>
                        </div>

                    </aside>
                </div>
            </div> <!-- .row -->
        </div> <!-- #content -->

    </div><!-- #su-content -->
</div><!-- #su-wrap -->

<!-- BEGIN footer -->
<div id="footer" class="clearfix footer hidden-print nocontent" role="contentinfo">

    <!-- Fat footer start -->
    <!-- Fat footer end -->

    <!-- Static footer snippet start -->
    <div id="global-footer">
        <div class="container">
            <div class="row">
                <div id="bottom-logo" class="col-sm-12 col-md-2">
                    <a href="/">
                        <img src="../images/littledvatech.png"/>
                    </a>
                </div>
                <!-- #bottom-logo end -->
                <div id="bottom-text">
                    <div class="col-xs-5 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10">
                        <ul id="primary-links">
                            <li class="home"><a href="/home/">LittleDva Home</a></li>
                            <li class="maps alt"><a href="/">Random Explore</a></li>
                            <li class="search"><a href="/search/">Search Website</a>
                            </li>
                            <li class="emergency alt"><a href="/cv">Contact Me</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-md-10 col-md-offset-2">
                        <p class="copyright vcard">&copy; <span class="fn org">2018-2028 by Cheng Yuan</span>, All rights reserved.</p>
                    </div>
                </div> <!-- .bottom-text end -->
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- Static footer snippet end -->
</div>
<!-- END footer -->


<script type='text/javascript' src='/bin/awesome-weather-widget-frontend.js'></script>
<script type='text/javascript' src='/bin/modernizr.js'></script>
<script type='text/javascript' src='/bin/bootstrap.js'></script>
<script type='text/javascript' src='/bin/base.js'></script>
<script type='text/javascript' src='/bin/wp-embed.min.js'></script>
</body>
</html>
