<script type="text/javascript" src="/bin/jquery.js"></script>
<link href="/bin/bootstrap.min.css" rel="stylesheet">
<script>
    function doita(i){
        $.ajax('/captcha/upload',{
            type: 'POST',
            data: new FormData(i),
            async: true,
            cache: false,
            processData: false,
            contentType: false,
            success: function(msg) {
                msg = JSON.parse(msg);
                if('true' == msg.success) {
                    alert('提交成功，等待审核！')
                }
                else{
                    alert('未知错误，请重试。')
                }
            }
        });
        return false;
    }
    window.onload=update;
</script>
<center><h1>邪恶数学验证码上传接口</h1></center>
<div style="margin:50px auto; width:800px; align-self:center;">
    <form method="POST" onsubmit="return doita(this);" enctype="multipart/form-data" style="padding:0 10% 0 10%;">
        <div class="form-group">
            <label for="exampleInput1">图片：</label><br/>
            <input type="file" name="pic">
        </div>
        <div class="form-group">
            <label for="exampleInput1">答案：</label>
            <input class="form-control" id="exampleInput2" name="ans">
        </div>
        <center><button type="submit" class="btn btn-primary">提交</button></center>
    </form>
    <br />
    <h3>题库列表</h3>
    <table class="table">
        <tbody>
        <tr class="title">
            <th width="40"></th>
            <th width="60">题号</th>
            <th >题目</th>
        </tr>
        {% for url in urls %}
        <tr>
            <td width="40"> </td>
            <td width="60">{{ url.id }}</td>
            <td width="80"><img src="{{ url.u }}" style="max-height: 7em; max-width: 20em;"></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>