<!--

██╗      ██╗ ████████╗████████╗██╗     ███████╗
██║      ██║ ╚══██╔══╝╚══██╔══╝██║     ██╔════╝
██║      ██║    ██║      ██║   ██║     █████╗
██║      ██║    ██║      ██║   ██║     ██╔══╝
███████╗ ██║    ██║      ██║   ███████╗███████╗
╚══════╝ ╚═╝    ╚═╝      ╚═╝   ╚══════╝╚══════╝
      ██████╗     ██╗   ██╗     █████╗
      ██╔══██╗    ██║   ██║    ██╔══██╗
      ██║  ██║    ██║   ██║    ███████║
      ██║  ██║    ╚██╗ ██╔╝    ██╔══██║
      ██████╔╝     ╚████╔╝     ██║  ██║
      ╚═════╝       ╚═══╝      ╚═╝  ╚═╝

    -->
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home - LittleDva.cn</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='awesome-weather-css'
          href='../bin/awesome-weather.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="../bin/bootstrap.css" type="text/css">
    <script type='text/javascript'
            src='/bin/doVisit.js'></script>
    <style type='text/css'>
        .awesome-weather-wrap {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
        }

        .disqus_block {
            margin-bottom: 10px;
        }

        .avatar_container {
            float: left;
            margin-right: 12px;
        }

        .avatar {
            width: 36px;
            height: 36px;
            border-radius: 10px;
        }

        .dispic {
            max-width: 65%;
            max-height: 150px;
            margin-left: 10%;
        }

        .disqus_body {
            margin-top: 5px;
        }

        .disqus_header {
            line-height: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .disqus_nickname {
            color: #ff9911;
            font-weight: 700;
            font-size: 16px;
        }

        .disqus_username {
            color: #e1e1e1;
            font-weight: 500;
            font-size: 15px;
        }

        .disqus_time {
            color: #abb6cc;
            font-weight: 500;
            font-size: 12px;
        }

        .disqus_content {
            margin-left: 20px;
            margin-top: 10px;
        }

        .disqus_picture {
            margin-left: 20px;
        }
    </style>
    <link rel='stylesheet' id='homesite17-master-style-css'
          href='../bin/master.min.css' type='text/css' media='all'/>
    <script type='text/javascript'
            src='../bin/jquery_1.12.4.js'></script>
    <script type='text/javascript'
            src='../bin/jquery_migrate_1.4.1.js'></script>
    <script type='text/javascript'
            src="../bin/TweenMax.min.js"></script>
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script-->
    <script type='text/javascript'
            src='../bin/ScrollMagic.min.js'></script>
    <script type='text/javascript'
            src='../bin/plugins/animation.gsap.min.js'></script>
    <script type='text/javascript'
            src='../bin/plugins/jquery.ScrollMagic.min.js'></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-1860414-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="home page-template page-template-homepage page-template-homepage-php page page-id-64 splash-parallax normal-home" style="background-color: black;">
<header role="banner">
    <a id="skiplinks" href="#main-content" data-ga-category="Skip links" data-ga-action="header"
       data-ga-label="Skip to content">Skip to content</a>
    <section id="brand-bar" data-ga-category="Brand bar" data-ga-action="Gateway nav">
        <a href="http://littledva.cn/home" class="su-brand" rel="home" id="header--wordmark" data-ga-action="Wordmark">LittleDva
Technology</a>
        <nav id="gateway" class="menu-gateway-nav-container">
            <ul id="menu-gateway-nav" class="menu">
                <li id="menu-item-9055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9055">
                    <a href="#">Explore</a></li>
                <li id="menu-item-8817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8817">
                    <a href="#">Blog &#038; Articles</a></li>
                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17">
                    <a href="#">Games</a></li>
                <li id="menu-item-7621" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7621">
                    <a href="#">Album</a></li>
                <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
                    <a href="#">Contact</a></li>
            </ul>
        </nav>
        <button id="search-toggle" aria-controls="site-search" aria-expanded="false" data-ga-action="Search toggle">
            Search
        </button>
    </section>
    <div id="menu-overlay" aria-hidden="true" role="presentation"></div>
    <nav id="site-navigation" role="navigation" data-ga-category="Top nav" style="display:none;">
        <div class="menu-primary-nav-container">
            <ul id="primary-menu" class="menu">
                <li id="menu-item-2297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2297">
                    <a href="#">News</a></li>
                <li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110">
                    <a href="#">About</a></li>
            </ul>
        </div>
    </nav>
    <section id="search-wrapper">
        <div id="search-overlay" aria-hidden="true" role="presentation"></div>
        <div id="site-search" role="search">

            <form action="https://www.stanford.edu/search" method="get" id="search-form" accept-charset="UTF-8">
                <label for="search-field" class="sr-only-text">Search term</label>
                <input id="search-field" type="text" name="q" title="Search string" class="input-medium"
                       value="" size="15" maxlength="128"/>
                <div id="search-type">
                    <span style="font-weight: 700;padding-right: 20px;">Search Website:</span>
                    <input id="search-web" name="search_type" type="radio" value="web" checked="checked"
                           class="radio-search"/>
                    <label for="search-websearch-field">Title</label>
                    <input id="search-people" name="search_type" type="radio" value="people" class="radio-search"/>
                    <label for="search-people">Keyword</label>
                </div>
                <button id="search-btn" type="submit" name="submit" aria-label="Search" formmethod="get"><i
                        class="fa fa-globe"></i>&nbsp;Search Web
                </button>
            </form>
            <p>
                Other ways to search:
                <a href="https://www.google.com/">Google</a>
                <a href="https://www.baidu.com/">Baidu</a>
                <a href="https://www.wikipedia.org/">Wikipedia</a>
            </p>
        </div>
    </section>

    <section class="panel-collection" data-modular-content-collection>

        <section class="panel theme--choco" data-type="splash-image" data-modular-content data-js="panel" data-index="0"
                 data-scroll-type="parallax" data-logo-loc-v="top" data-logo-loc-h="center"
                 data-ga-category="Splash Panel" style="padding:0;">
            <div id="splash--wordmark" class="su-brand">Hello, world!</div>
            <div id="trigger1" style="position:relative;top:50%;"></div>
            <script>
                var controller = new ScrollMagic.Controller();
                var scene = new ScrollMagic.Scene({triggerElement: "#trigger1", duration: (document.body.clientHeight*0.95-10)})
										// animate color and top border in relation to scroll position
										.setTween("#splash--wordmark", {scale: 0.5, y:-document.body.clientHeight*0.45, opacity: 0.5})
										.addTo(controller);

            </script>
            <p id="splash--scroller"><a href="#main-content" data-ga-action="Splash screen scroller">Explore Website</a></p>


            <div style="height:calc(48px + 100%); width:100%; margin-top:-48px; display:block; position:fixed; overflow:hidden;" id="bg-content">
            </div>

        </section><!-- panel Splash Screen -->

    </section><!-- panel-collection -->

</header>
<main id="main" role="main">
    <h2 id="main-content" class="sr-only-element" tabindex="-1">Main Content</h2>

    <section class="panel-collection" data-modular-content-collection>

        <section class="panel theme--sandstone" data-type="section" data-modular-content data-js="panel" data-index="3">

            <header>

                <h2 class="center">Recent updates</h2>
                <p>The latest blogs and articles</p>

            </header>

            <section class="panel" data-type="posts" data-width="full" data-posts-per-row="4"
                     data-featured-post="first-last">

                <div class="grid-container" id="grid_container">
{% for article in articles %}
<article class="theme--choco">
    <figure class="landscape">
        <a href="{{ article.url }}" aria-hidden="true" tabindex="-1">
            <picture data-anchor-v="center" data-anchor-h="center">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <!--source srcset="{{ article.img }}"/-->
                <!--[if IE 9]></video><![endif]-->
                <img role="presentation" alt=""
                                         src="{{ article.img }}"/>
            </picture>
        </a>

    </figure>
    <div class='content'>
        <div class="post-meta">
            <p class="post-category">{{ article.category }}</p>
        </div>
        <h3>
            <a href='{{ article.url }}'>{{ article.title }}</a>
        </h3>
    </div>
</article>
{% endfor %}
                </div>

            </section>

        <section class="panel" data-type="call-to-action">

            <a href="/articles" data-ga-action="More articles">More articles by LittleDva...</a>

        </section>

        </section><!-- panel Stanford Today -->

        <section class="panel theme--choco" data-type="section" data-modular-content data-js="panel" data-index="6">

            <header>

                <h2 class="center">Message board</h2>
                <p>Welcome. Feel free to say Hi.</p>

            </header>

            <section class="panel">
                <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-2 disqus_block">
                <div style="margin:auto;max-width:468px;">
                    <ul style="margin:0;padding-right:20px;">
                        {% for disqus in disquses %}
                            <li>
                                <div class="avatar_container">
                                    <img src="{{ disqus.avatar }}" class="avatar">
                                </div>
                                <div class="disqus_body">
                                    <div class="disqus_header">
                                        <span class="disqus_nickname" style="color:{{ disqus.color }};">{{ disqus.nickname }}</span>
                                        <span class="disqus_username">（{{ disqus.username }}）</span><br/>
                                        <span class="disqus_time">{{ disqus.time }}</span>
                                    </div>
                                    <div class="disqus_content">
                                        {{ disqus.content | linebreaks }}
                                    {% if disqus.hasimg %}
                                        <a onclick="$('#{{ disqus.id }}').css('display','initial'), $(this).remove();">显示图片</a>
                                    {% endif %}
                                    </div>
                                    {% if disqus.hasimg %}
                                        <div class="disqus_picture">
                                            <img src="{{ disqus.picture }}" class="dispic" id="{{ disqus.id }}" style="display:none;">
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
                <div class="col-lg-6">
                    <form method="POST" onsubmit="$.ajax('/postDisqus', {
                                type: 'POST',
                                data: new FormData(this),
                                async: true,
                                cache: false,
                                processData: false,
                                contentType: false,
                                success: function (msg) {
                                    msg = JSON.parse(msg);
                                    if ('true' === msg.success) {
                                        alert('提交成功');
                                        window.location.reload(true)
                                    } else {
                                        alert(msg.msg);
                                    }
                                }
                            });
                            return false;" enctype="multipart/form-data" style="padding-left:10%;padding-right:10%;">
                        <div class="form-group">
                            <label for="exampleInput1">Nickname:</label>
                            <input class="form-control" id="exampleInput1" name="nickname" style="color:black;">
                        </div>
                        <div class="form-group">
                            <label>Content:</label>
                            <textarea id="contenta" name="content" rows="8" style="width:100%;color:black;"></textarea>
                        </div>
                        <a onclick="$('#advanced_form').css('display','initial'), $(this).remove();">Show advanced options</a>
                        <div id="advanced_form" style="display:none;">
                            <div class="form-group">
                                <label>Choose avatar:(Optional)</label>
                                <input type="file" name="avatar">
                            </div>
                            <div class="form-group">
                                <label>Add picture:(Optional)</label>
                                <input type="file" name="pic">
                            </div>
                            <div class="form-group">
                                <label>Nickname color:(Optional)</label>
                                <input type="color" name="color" value="#ff9911">
                            </div>
                        </div>
                        <center style="margin-top:10px;">
                            <button type="submit" class="btn btn-primary" style="font-weight: 600;font-size: 20px;">Submit</button>
                        </center>
                    </form>
                </div>
                <div style="clear:both;"></div> <!-- 清除浮动 -->
            </section>

            <section class="panel" data-type="call-to-action">

                <a href="/disqus">More messages on board...</a>

            </section><!-- panel  -->


        </section><!-- panel Stanford Events -->


    </section><!-- panel-collection -->

</main><!-- #main -->

<footer data-ga-category="Footer">
    <section id="footer__pre-footer" data-ga-action="Pre-footer">
        <div class="social">
            <ul data-ga-action="Social media">
                <li><a title="Facebook" class="xsu-link" data-ga-label="Facebook"
                       href="http://www.facebook.com/stanford"><span class="fa fa-facebook-square"
                                                                     aria-hidden="true"></span><span
                        class="sr-only-text">Facebook</span></a></li>
                <li><a title="Twitter" class="xsu-link" data-ga-label="Twitter" href="http://twitter.com/stanford"><span
                        class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only-text">Twitter</span></a>
                </li>
                <li><a title="Instagram" class="xsu-link" data-ga-label="Instagram"
                       href="http://instagram.com/stanford"><span class="fa fa-instagram"
                                                                  aria-hidden="true"></span><span class="sr-only-text">Instagram</span></a>
                </li>
                <li><a title="YouTube" class="xsu-link" data-ga-label="YouTube"
                       href="http://www.youtube.com/stanford"><span class="fa fa-youtube-play"
                                                                    aria-hidden="true"></span><span
                        class="sr-only-text">YouTube</span></a></li>
                <li><a title="iTunes U" class="xsu-link" data-ga-label="iTunes U"
                       href="http://itunes.stanford.edu"><span class="fa fa-apple" aria-hidden="true"></span><span
                        class="sr-only-text">iTunes U</span></a></li>
            </ul>
        </div>
        <div class="weather">
            <span class="awesome-weather-icon">
                <i class="wi wi-owm-500" aria-label="light rain" title="light rain"></i>
            </span>
            <span class="awesome-weather-current-temp">
                57<sup>&deg;</sup> F / 14<sup>&deg;</sup> C
            </span>
            <span class="awesome-weather-description">
		        light rain
            </span>
        </div>
    </section>

    <section id="footer__global-footer" data-ga-action="Global footer">
        <div id="global-footer__brand">
            <a href="/" class="su-brand">
                LittleDva<br/>
                <div style="line-height:1.3em;font-size:.78em">Technology</div>
            </a>
        </div>
        <nav id="global-footer__nav" role="navigation">
            <ul id="global-links">
                <li><a href="/home/">LittleDva Home</a></li>
                <li><a href="/">Random Explore</a></li>
                <li><a href="/search/">Search Website</a></li>
                <li><a href="/cv">Contact Me</a></li>
            </ul>
        </nav>
        <div id="global-footer__info">
            <p class="copyright vcard">&copy; <span class="fn org">2018-2028 by Cheng Yuan</span>, All rights reserved.
            </p>
        </div>
    </section>
</footer>

<script type='text/javascript'
        src='https://www.stanford.edu/wp-content/plugins/awesome-weather-pro/js/awesome-weather-widget-frontend.js?ver=1.1'></script>
<script type='text/javascript'
        src='https://www.stanford.edu/wp-content/plugins/awesome-weather-pro/js/js-cookie.js?ver=1.1'></script>
<script type='text/javascript'
        src='../bin/master.min.js'></script>
<script type='text/javascript' src='https://www.stanford.edu/wp-includes/js/wp-embed.min.js?ver=4.9.9'></script>

<script src="/bin/three.min.js"></script>
<script src="/bin/WebGL.js"></script>
<script src="/bin/stats.min.js"></script>
<script src="/bin/dat.gui.min.js"></script>
<script src="/bin/doMain_bg.js"></script>

</body>
</html>
