<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--
    Html transformed from
          _____ _               __              _
         / ____| |             / _|            | |
        | (___ | |_ __ _ _ __ | |_ ___  _ __ __| |
         \___ \| __/ _` | '_ \|  _/ _ \| '__/ _` |
         ____) | || (_| | | | | || (_) | | | (_| |
    www.|_____/ \__\__,_|_| |_|_| \___/|_|  \__,_| .edu/

    -->
    <title>Home - LittleDva.cn</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel='stylesheet' id='awesome-weather-css'
          href='../bin/awesome-weather.css' type='text/css' media='all'/>
    <style id='awesome-weather-inline-css' type='text/css'>
        .awesome-weather-wrap {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
        }
    </style>
    <link rel='stylesheet' id='homesite17-master-style-css'
          href='../bin/master.min.css' type='text/css' media='all'/>
    <script type='text/javascript' src='../bin/jquery_1.12.4.js'></script>
    <script type='text/javascript' src='../bin/jquery_migrate_1.4.1.js'></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-1860414-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!--link rel="canonical" href="https://www.stanford.edu/"/>
    <link rel='shortlink' href='https://www.stanford.edu/'/-->

    <!--link rel="apple-touch-icon" sizes="57x57"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://www-media.stanford.edu/assets/favicon/apple-touch-icon-180x180.png"/>

    <link rel="icon" type="image/png" href="https://www-media.stanford.edu/assets/favicon/favicon-196x196.png"
          sizes="196x196"/>
    <link rel="icon" type="image/png" href="https://www-media.stanford.edu/assets/favicon/favicon-192x192.png"
          sizes="192x192"/>
    <link rel="icon" type="image/png" href="https://www-media.stanford.edu/assets/favicon/favicon-128.png"
          sizes="128x128"/>
    <link rel="icon" type="image/png" href="https://www-media.stanford.edu/assets/favicon/favicon-96x96.png"
          sizes="96x96"/>
    <link rel="icon" type="image/png" href="https://www-media.stanford.edu/assets/favicon/favicon-32x32.png"
          sizes="32x32"/>
    <link rel="icon" type="image/png" href="https://www-media.stanford.edu/assets/favicon/favicon-16x16.png"
          sizes="16x16"/>

    <link rel="mask-icon" href="https://www-media.stanford.edu/assets/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="application-name" content="Stanford University"/>
    <meta name="msapplication-TileColor" content="#FFFFFF"/>
    <meta name="msapplication-TileImage" content="https://www-media.stanford.edu/assets/favicon/mstile-144x144.png"/>
    <meta name="msapplication-square70x70logo"
          content="https://www-media.stanford.edu/assets/favicon/mstile-70x70.png"/>
    <meta name="msapplication-square150x150logo"
          content="https://www-media.stanford.edu/assets/favicon/mstile-150x150.png"/>
    <meta name="msapplication-square310x310logo"
          content="https://www-media.stanford.edu/assets/favicon/mstile-310x310.png"/-->
</head>

<body class="home page-template page-template-homepage page-template-homepage-php page page-id-64 splash-parallax normal-home">
<header role="banner">
    <a id="skiplinks" href="#main-content" data-ga-category="Skip links" data-ga-action="header"
       data-ga-label="Skip to content">Skip to content</a>
    <section id="brand-bar" data-ga-category="Brand bar" data-ga-action="Gateway nav">
        <a href="http://littledva.cn/home" class="su-brand" rel="home" id="header--wordmark" data-ga-action="Wordmark">LittleDva
Technology</a>
        <nav id="gateway" class="menu-gateway-nav-container">
            <ul id="menu-gateway-nav" class="menu">
                <li id="menu-item-9055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9055">
                    <a href="#">Explore</a></li>
                <li id="menu-item-8817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8817">
                    <a href="#">Blog &#038; Articles</a></li>
                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17">
                    <a href="#">Games</a></li>
                <li id="menu-item-7621" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7621">
                    <a href="#">Album</a></li>
                <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
                    <a href="#">Contact</a></li>
            </ul>
        </nav>
        <button id="search-toggle" aria-controls="site-search" aria-expanded="false" data-ga-action="Search toggle">
            Search
        </button>
        <button id="menu-toggle" aria-controls="primary-menu" aria-expanded="false" data-ga-action="Menu toggle">
            Menu
        </button>
    </section>
    <div id="menu-overlay" aria-hidden="true" role="presentation"></div>
    <nav id="site-navigation" role="navigation" data-ga-category="Top nav" style="display:none;">
        <div class="menu-primary-nav-container">
            <ul id="primary-menu" class="menu">
                <li id="menu-item-2297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2297">
                    <a href="#">News</a></li>
                <li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110">
                    <a href="#">About</a></li>
            </ul>
        </div>
    </nav>
    <section id="search-wrapper">
        <div id="search-overlay" aria-hidden="true" role="presentation"></div>
        <div id="site-search" role="search">

            <form action="https://www.stanford.edu/search" method="get" id="search-form" accept-charset="UTF-8">
                <label for="search-field" class="sr-only-text">Search term</label>
                <input id="search-field" type="text" name="q" title="Search string" class="input-medium"
                       value="" size="15" maxlength="128"/>
                <div id="search-type">
                    <h2>Search Website:</h2>
                    <input id="search-web" name="search_type" type="radio" value="web" checked="checked"
                           class="radio-search"/>
                    <label for="search-websearch-field">Title</label>
                    <input id="search-people" name="search_type" type="radio" value="people" class="radio-search"/>
                    <label for="search-people">Keyword</label>
                </div>
                <button id="search-btn" type="submit" name="submit" aria-label="Search" formmethod="get"><i
                        class="fa fa-globe"></i>&nbsp;Search Web
                </button>
            </form>
            <p>
                Other ways to search:
                <a href="https://www.google.com/">Google</a>
                <a href="https://www.baidu.com/">Baidu</a>
                <a href="https://www.wikipedia.org/">Wikipedia</a>
            </p>
        </div>
    </section>

    <section class="panel-collection" data-modular-content-collection>

        <section class="panel theme--choco" data-type="splash-image" data-modular-content data-js="panel" data-index="0"
                 data-scroll-type="parallax" data-logo-loc-v="top" data-logo-loc-h="center"
                 data-ga-category="Splash Panel">

            <p id="splash--wordmark" class="su-brand">Hello, world!</p>
            <p id="splash--scroller"><a href="#main-content" data-ga-action="Splash screen scroller">Explore Website</a></p>

            <picture aria-hidden="true" tabindex="-1">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <!--source srcset="https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape.jpg 3000w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape-767x511.jpg 767w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape-1023x682.jpg 1023w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape-575x383.jpg 575w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape-1499x999.jpg 1499w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape-600x400.jpg 600w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141831/claw-splash-landscape-500x333.jpg 500w"
                        media="(orientation: landscape)"/>
                <source srcset="https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait.jpg 1334w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait-512x767.jpg 512w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait-682x1023.jpg 682w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait-384x575.jpg 384w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait-1000x1499.jpg 1000w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait-534x800.jpg 534w, https://www-media.stanford.edu/wp-content/uploads/2017/11/16141837/claw-splash-portrait-500x750.jpg 500w"
                        media="(orientation: portrait)"/-->
                <source
                    srcset="../images/background/hollow1-landscape.jpg"
                    media="(orientation: landscape)">
                <source
                    srcset="../images/background/hollow1-portrait.jpg"
                    media="(orientation: portrait)">
                <!--[if IE 9]></video><![endif]-->
                <img class="bg-img" role="presentation" alt=""
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            </picture>


        </section><!-- panel Splash Screen -->


    </section><!-- panel-collection -->

</header>
<main id="main" role="main">
    <h2 id="main-content" class="sr-only-element" tabindex="-1">Main Content</h2>

    <section class="panel-collection" data-modular-content-collection>

        <section class="panel theme--sandstone" data-type="section" data-modular-content data-js="panel" data-index="3">

            <header>

                <h2 class="center">Recent updates</h2>
                <p>The latest blogs and articles</p>

            </header>

            <section class="panel" data-type="posts" data-width="full" data-posts-per-row="4"
                     data-featured-post="first-last">

                <div class="grid-container">
{% for article in articles %}
<article class="theme--choco">
    <figure class="landscape">
        <a href="" aria-hidden="true" tabindex="-1">
            <picture data-anchor-v="center" data-anchor-h="center">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <!--source srcset="{{ article.img }}"/-->
                <!--[if IE 9]></video><![endif]-->
                <img role="presentation" alt=""
                                         src="{{ article.img }}"/>
            </picture>
        </a>

    </figure>
    <div class='content'>
        <div class="post-meta">
            <p class="post-category">{{ article.title }}</p>
        </div>
        <h3>
            <a href=''>{{ article.content }}</a>
        </h3>
    </div>
</article>
{% endfor %}
                </div>

            </section><!-- panel News Stories -->


            <!--section class="panel" data-type="call-to-action">


                <a href="http://news.stanford.edu" data-ga-category="Call to action"
                   data-ga-action="More Stanford News">More Stanford News</a>

            </section><!-- panel News CTA -->


        </section><!-- panel Stanford Today -->



    </section><!-- panel-collection -->


</main><!-- #main -->

<footer data-ga-category="Footer">
    <section id="footer__pre-footer" data-ga-action="Pre-footer">
        <div class="social">
            <ul data-ga-action="Social media">
                <li><a title="Facebook" class="xsu-link" data-ga-label="Facebook"
                       href="http://www.facebook.com/stanford"><span class="fa fa-facebook-square"
                                                                     aria-hidden="true"></span><span
                        class="sr-only-text">Facebook</span></a></li>
                <li><a title="Twitter" class="xsu-link" data-ga-label="Twitter" href="http://twitter.com/stanford"><span
                        class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only-text">Twitter</span></a>
                </li>
                <li><a title="Instagram" class="xsu-link" data-ga-label="Instagram"
                       href="http://instagram.com/stanford"><span class="fa fa-instagram"
                                                                  aria-hidden="true"></span><span class="sr-only-text">Instagram</span></a>
                </li>
                <li><a title="YouTube" class="xsu-link" data-ga-label="YouTube"
                       href="http://www.youtube.com/stanford"><span class="fa fa-youtube-play"
                                                                    aria-hidden="true"></span><span
                        class="sr-only-text">YouTube</span></a></li>
                <li><a title="iTunes U" class="xsu-link" data-ga-label="iTunes U"
                       href="http://itunes.stanford.edu"><span class="fa fa-apple" aria-hidden="true"></span><span
                        class="sr-only-text">iTunes U</span></a></li>
            </ul>
        </div>
        <div class="weather">
            <span class="awesome-weather-icon">
                <i class="wi wi-owm-500" aria-label="light rain" title="light rain"></i>
            </span>
            <span class="awesome-weather-current-temp">
                57<sup>&deg;</sup> F / 14<sup>&deg;</sup> C
            </span>
            <span class="awesome-weather-description">
		        light rain
            </span>
        </div>
    </section>

<!--
    <section id="footer__content" data-ga-action="Fat footer">
        <div>
            <div>
                <div>
                    <h3>Schools</h3>
                    <ul>
                        <li><a href="https://www.gsb.stanford.edu/">Business</a></li>
                        <li><a href="https://earth.stanford.edu/">Earth, Energy & Environmental Sciences</a></li>
                        <li><a href="https://ed.stanford.edu/">Education</a></li>
                        <li><a href="https://engineering.stanford.edu/">Engineering</a></li>
                        <li><a href="https://humsci.stanford.edu/">Humanities & Sciences</a></li>
                        <li><a href="https://law.stanford.edu/">Law</a></li>
                        <li><a href="https://med.stanford.edu/">Medicine</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Departments</h3>
                    <ul>
                        <li><a href="/list/academic/">Departments A&nbsp;<span aria-hidden="true">-</span><span
                                class="sr-only-text"> to </span>&nbsp;Z</a></li>
                        <li><a href="/list/interdisc/">Interdisciplinary Programs</a></li>
                    </ul>
                    <h3>Research</h3>
                    <ul>
                        <li><a href="/list/research/">Research Centers A&nbsp;<span aria-hidden="true">-</span><span
                                class="sr-only-text"> to </span>&nbsp;Z</a></li>
                        <li><a href="https://interdisciplinary.stanford.edu/">Interdisciplinary Research</a></li>
                        <li><a href="http://library.stanford.edu/">Libraries</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <h3>Health Care</h3>
                    <ul>
                        <li><a href="https://stanfordhealthcare.org/">Stanford Health Care</a></li>
                        <li><a href="https://www.stanfordchildrens.org/">Stanford Children's Health</a></li>
                    </ul>
                    <h3>Online Learning</h3>
                    <ul>
                        <li><a href="https://online.stanford.edu/">Stanford Online</a></li>
                    </ul>
                </div>
                <div>
                    <h3>About Stanford</h3>
                    <ul>
                        <li><a href="https://facts.stanford.edu/">Facts</a></li>
                        <li><a href="/about/history">History</a></li>
                        <li><a href="https://wasc.stanford.edu/">Accreditation</a></li>
                    </ul>
                    <h3>Admission</h3>
                    <ul>
                        <li><a href="https://admission.stanford.edu/">Undergraduate</a></li>
                        <li><a href="https://gradadmissions.stanford.edu">Graduate</a></li>
                        <li><a href="https://financialaid.stanford.edu/">Financial Aid</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="/atoz/">A&nbsp;<span aria-hidden="true">-</span><span
                                class="sr-only-text"> to </span>&nbsp;Z Index</a></li>
                        <li><a href="https://campus-map.stanford.edu/">Campus Map</a></li>
                        <li><a href="https://stanfordwho.stanford.edu/">Directory</a></li>
                        <li><a href="https://profiles.stanford.edu/">Stanford Profiles</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="connect">
            <li><a href="/contact">Contact</a></li>
            <li><a href="/donate">Donate</a></li>
        </ul>
    </section>
-->

    <section id="footer__global-footer" data-ga-action="Global footer">
        <div id="global-footer__brand">
            <a href="/" class="su-brand">
                LittleDva<br/>
                <div style="line-height:1.3em;font-size:.78em">Technology</div>
            </a>
        </div>
        <nav id="global-footer__nav" role="navigation">
            <ul id="global-links">
                <li><a href="/">Stanford Home</a></li>
                <li><a href="https://visit.stanford.edu/plan/">Maps &amp; Directions</a></li>
                <li><a href="/search/">Search Stanford</a></li>
                <li><a href="https://emergency.stanford.edu/">Emergency Info</a></li>
            </ul>
            <ul id="global-policy-links">
                <li><a href="/site/terms/" title="Terms of use for sites">Terms of Use</a></li>
                <li><a href="/site/privacy" title="Privacy and cookie policy">Privacy</a></li>
                <li><a href="https://uit.stanford.edu/security/copyright-infringement"
                       title="Report alleged copyright infringement">Copyright</a></li>
                <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4"
                       title="Ownership and use of Stanford trademarks and images">Trademarks</a></li>
                <li><a href="https://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/"
                       title="Non-discrimination policy">Non-Discrimination</a></li>
                <li><a href="/site/accessibility/" title="Report web accessibility issues">Accessibility</a></li>
            </ul>
        </nav>
        <div id="global-footer__info">
            <p class="vcard"><span aria-hidden="true">©</span><span class="sr-only-text">Copyright </span>
                <span class="fn org">Stanford University</span>.
                <span class="adr">
            <span class="locality">Stanford</span>,
            <span class="region">California</span>
            <span class="postal-code">94305</span>.
          </span>
            </p>
        </div>
    </section>
</footer>

<script type='text/javascript'
        src='https://www.stanford.edu/wp-content/plugins/awesome-weather-pro/js/awesome-weather-widget-frontend.js?ver=1.1'></script>
<script type='text/javascript'
        src='https://www.stanford.edu/wp-content/plugins/awesome-weather-pro/js/js-cookie.js?ver=1.1'></script>
<script type='text/javascript'
        src='../bin/master.min.js'></script>
<script type='text/javascript' src='https://www.stanford.edu/wp-includes/js/wp-embed.min.js?ver=4.9.9'></script>

</body>
</html>
