<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
            span,span a:link,span a:active,span a:visited,span a:hover{
                color: white;
                text-decoration: none;
            }
    </style>
    <title>Root of littledva.cn</title>
</head>
<body>
<div style="font-size:24px;">

    <h2>欢迎来到 littledva.cn，本网站正在建设中，以下是本域名下的部分站点：</h2><br/>

    我的博客（部分页面还在建设中）： <a href="/home/">littledva.cn/home/</a><br />
    文章列表：<a href="/articles">littledva.cn/articles</a><br />
    <br />
    一些有趣的项目：<br/>
    疯狂验证码： <a href="/captcha/index">littledva.cn/captcha/index</a><br />
    扑克胜率计算器：<a href="/texas/index">littledva.cn/texas/index</a><br />
    N体问题 - 宇宙星空模拟器：<a href="/s/universe.html">littledva.cn/s/universe.html</a><br/>
    旧博客： <a href="/s/index.html">littledva.cn/s/index.html</a><br />
    Go+Websocket 聊天室：<a href="http://littledva.cn:8080/">http://littledva.cn:8080/</a><br/>
    音乐盒：<a href="/music/19_summer">http://littledva.cn/music/19_summer</a>
    <br />
    简历： <a href="/cv">littledva.cn/cv/</a><br />
    <br />

    <span>
        后台： <a href="/admin/">littledva.cn/admin/</a><br/>
        上传： <a href="/__admin__/upload">littledva.cn/__admin__/upload</a><br/>
        下载： <a href="/__debug__/dopullshell">littledva.cn/__debug__/dopullshell</a><br/>
    </span>
    <br/>

</div>
</body>
</html>